/* buttons */

.btn_base {
	display: inline-flex;
	justify-content: center;
	text-align: center;
	min-width: 160px;
	height: 48px;
	line-height: 48px;
	padding: 0 14px;

	text-decoration: none;

	font-size: 18px;
	border-radius: 8px;
	white-space: nowrap;
	border: 1px solid var(--color_ornge);
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}


.btn_base.btn_base--white {
	background-color: var(--color-white);
	color: var(--color_ornge);
}

.btn_base.btn_base--white:hover,
.btn_base.btn_base--white:active,
.btn_base.btn_base--white:focus {
	background-color: var(--color_ornge);
	color: var(--color-white);
}

.btn_base.btn_base--primary {
	background-color: var(--color_ornge);
	color: var(--color-white);
}

.btn_base.btn_base--primary:hover,
.btn_base.btn_base--primary:active,
.btn_base.btn_base--primary:focus {
	background-color:var(--color-white);
	color: var(--color_ornge);
}

.btn_base.btn_base--hero {
	height: 76px;
	line-height: 76px;
	min-width: 192px;
	font-size: 24px;
}


/* buttons */

.btn_base__ico{
	background-image: url(../../imgs/akar-icons_arrow-right.png);
	background-size: 24px 24px;
	background-repeat: no-repeat;
	background-position: center right;
}

.btn_base--open{
    font-size: 24px;
    font-weight: 400;
	color: var(--color_ornge);    
	min-width: 152px;
	height: 24px;
	line-height: 24px;
	justify-content: left;
	padding:0;
	border: 1px solid var(--color-white);
}